/* Add your styles for the profile page here */
.profile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .profile-details {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(47, 40, 177, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  strong {
    display: inline-block;
    width: 100px;
  }
  